*{
    padding: 0;
    margin: 0;
}
about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: #000;
    font-weight: bold;
}

.about-1 p {
    text-align: center;
    padding: 3px;
    color:rgb(20, 1, 1);
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px,rgba(0, 0, 0, .6);

}

/* .about-item i{
    font-size: 25px;
    margin-bottom: 0;
} */
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr  {
   width: 46px;
   height: 3px;
   background-color: #5fbff9;
   margin: 0 auto;
   border: nome;

}

.about-item p {
    margin-top: 20px;
    margin-bottom: 35px;
    
}


.about-item:hover{
    background-color: #5fbff9;
}


.about-item:hover i,
.about-item:hover h3,
.about-item:hover p
{
    background-color: #fff;
}


.about-item:hover hr {
    background-color: #fff;
}
.about-item:hover i {
   text-transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p
{
    text-transform: all 400ms;
}